.site-header {
  padding: 3rem;
  background-color: $orange;

  section {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  img {
    max-width: 10em;
    display: block;
  }

  .site-title {
    font-size: 2.5em;
    color: #fff;
    line-height: 1.3;
    margin-top: 0.5em;
    margin-bottom: 0;

    span {
      font-size: 0.65em;
      display: block;
      font-weight: 400;
    }
  }
}
