@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Bitter');

$base-sans-serif: 'Open Sans', Verdana, 'Bitstream Vera Sans', sans-serif;
$base-serif: 'Bitter', Georgia, 'Bitstream Vera Serif', serif;

html {
  color: $body-text-colour;
  font-family: $base-sans-serif;
  font-weight: $base-font-weight;
  line-height: $base-leading;
}

h1,
h2,
h3
 {
  color: $heading-text-colour;
  font-family: $base-serif;
  line-height: $base-heading-leading;
  margin-bottom: $tiny-spacing;
  margin-top: $base-spacing;
}

h1 {
  font-size: 2em;
  font-weight: $heading-font-weight;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.1em;
}

a {
  border-bottom: 1px solid;
  color: $heading-text-colour;
  text-decoration: none;

  &:hover {
    background-color: $heading-text-colour;
    color: #fff;
  }
}
