$base-serif: 'Book Antiqua', Georgia, 'Bitstream Vera Serif', serif;

$base-sans-serif: 'Open Sans', Verdana, 'Bitstream Vera Sans', sans-serif;
$base-serif: 'Bitter', Georgia, 'Bitstream Vera Serif', serif;

// Leading/line-height.
$base-leading: 1.6;
$base-heading-leading: 1.4;
$small-leading: 1.2;
$double-leading: 2;

// Base spacing, relative to leading.
$base-spacing: $base-leading * 1em;
$large-spacing: $base-spacing * 2;
$medium-spacing: $base-spacing * 0.75;
$small-spacing: $base-spacing / 2;
$tiny-spacing: $base-spacing / 4;

// Font weights
$base-font-weight: 400;
$bold-font-weight: 700;
$heading-font-weight: $bold-font-weight;

// Font sizes
$small-font-size: 70%;
$large-font-size: 130%;
$base-font-style: normal;

// Colours
$heading-text-colour: #f44336;
$body-text-colour: #333333;
$body-text-colour-secondary: #555555;
$border-color: #f4f4f4;

$primary-button-colour: #f44336;
$primary-button-hover-colour: #E53935;

$header-background-colour: #f44336;
$footer-background-colour: #5d5d5d;

$callout-border-colour: #f44336;
$code-background-colour: #f4f4f4;

// Container width
$container-width: 760px;
