<footer class="site-footer" role="contentinfo">
  <section class="container">
    <h1>Contact</h1>
    <p>If you have any questions or just want to chat drop me a line at <a href="mailto:simon.schwartz0@gmail.com">simon.schwartz0@gmail.com</a></p>
    <p>You can also find me on:</p>
    <ul>
      <li>
        <a class="github" href="https://github.com/simonschwartz">
          <img src="{% asset_path github-logo.svg %}" alt="github logo">
        </a>
      </li>

      <li>
        <a class="linkedin" href="https://au.linkedin.com/in/simon-schwartz-9277789a">
          <img src="{% asset_path linkedin-logo.svg %}" alt="linkedin logo">
        </a>
      </li>

      <li>
        <a class="twitter" href="https://twitter.com/simonmakesstuff">
          <img src="{% asset_path twitter-logo.svg %}" alt="twitter logo">
        </a>
      </li>
    </ul>

  </section>
</footer>
