.site-footer {
  background-color: $footer-background-colour;
  color: #fff;
  padding: 1.5 * $base-spacing 0;
  margin-top: 3 * $base-spacing;

  h1 {
    color: #fff;
    font-size: 1.7em;
  }

  a {
    color: #fff;
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      display: inline-block;
    }
  }

  .twitter,
  .github,
  .linkedin {
    margin-right: 1em;

    img {
      height: 1.2em;
    }
  }
}
