@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Bitter");
body {
  margin: 0; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  color: #333333;
  font-family: "Open Sans", Verdana, "Bitstream Vera Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6; }

h1,
h2,
h3 {
  color: #f44336;
  font-family: "Bitter", Georgia, "Bitstream Vera Serif", serif;
  line-height: 1.4;
  margin-bottom: 0.4em;
  margin-top: 1.6em; }

h1 {
  font-size: 2em;
  font-weight: 700; }

h2 {
  font-size: 1.4em; }

h3 {
  font-size: 1.1em; }

a {
  border-bottom: 1px solid;
  color: #f44336;
  text-decoration: none; }
  a:hover {
    background-color: #f44336;
    color: #fff; }

.abstract {
  font-size: 130%;
  color: #555555; }

blockquote {
  border-left: 3px solid #f44336;
  font-size: 130%;
  padding-left: 1.6em;
  font-family: "Bitter", Georgia, "Bitstream Vera Serif", serif;
  margin: 2.4em 0; }

.site-header {
  background-color: #f44336;
  margin-bottom: 4.8em; }
  .site-header .site-title {
    color: #fff;
    line-height: 1.3;
    margin-bottom: 0; }
    .site-header .site-title span {
      display: block;
      font-size: 70%;
      font-weight: 400; }

.site-header--home {
  padding: 3.2em 0; }
  .site-header--home img {
    display: block;
    max-width: 11.2em; }
  .site-header--home .site-title {
    margin-top: 0;
    font-size: 2.5em;
    margin-top: 0.8em; }

.site-header--content {
  padding: 1.6em 0; }
  .site-header--content img {
    display: inline-block;
    max-width: 3.2em;
    margin-right: 0.8em; }
  .site-header--content .site-title {
    display: inline-block;
    margin-top: 0;
    font-size: 1.8em; }

.site-footer {
  background-color: #5d5d5d;
  color: #fff;
  padding: 2.4em 0;
  margin-top: 4.8em; }
  .site-footer h1 {
    color: #fff;
    font-size: 1.7em; }
  .site-footer a {
    color: #fff; }
  .site-footer ul {
    list-style: none;
    padding-left: 0; }
    .site-footer ul li {
      display: inline-block; }
  .site-footer .twitter,
  .site-footer .github,
  .site-footer .linkedin {
    margin-right: 1em; }
    .site-footer .twitter img,
    .site-footer .github img,
    .site-footer .linkedin img {
      height: 1.2em; }

pre {
  margin: 2.5em 0;
  background-color: #f4f4f4;
  padding: 2em 2.5em; }

.article-listing {
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 3em;
  margin-bottom: 4em; }
  .article-listing ul {
    list-style: none;
    padding-left: 0; }
  .article-listing article {
    margin-top: 3em; }
    .article-listing article time {
      color: #555555; }

.button {
  background-color: #f44336;
  color: #fff;
  padding: 0.6em 1.3em;
  border-radius: 0.15em;
  letter-spacing: 0.05em;
  margin: 2em 0;
  display: inline-block; }
  .button:hover, .button:focus {
    background-color: #E53935; }

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 760px;
  padding: 0 1.6em; }

.media-image img {
  display: block;
  margin-top: 2.8em;
  max-width: 100%; }
  .media-image img + .image-caption {
    background-color: #f4f4f4;
    margin-top: 0;
    padding: 0.8em; }
    .media-image img + .image-caption::before {
      background-image: url("/assets/image-icon.svg");
      content: '';
      display: inline-table;
      height: 1.2em;
      margin-right: 0.4em;
      margin-top: .15em;
      vertical-align: top;
      width: 1.2em; }
